<!-- here we write our own component template -->
<article>

  <nav>
    <!-- links go here -->
    <a routerLink='/cash-flow'>Cash Flow </a>
    <a routerLink='/market-movers'>Market Movers </a>
    <a routerLink='/net-worth'>Net Worth </a>
    <a routerLink='/insights'>Insights </a>
  </nav>
  <h2>Routed App Demo</h2>

  <!-- here we can bind to the data models -->
  <!-- can look up 'pipe' in documentation -->
  <p>Today is {{today | date:'short'}}</p>
  <p>Today is {{today | date:'hh:mm:ss'}}</p>

  <!-- the{{}} are called interpolation binding -->
  <p>Welcome {{user}}!</p>
  <p>One plus two is {{1+2}}</p>

  <!-- ask the user to agree to cookies -->
  <!-- the () are one-way event binding out of the component -->
  <!-- structural directives always start with an * -->
  <!-- ng-container takes no space, so is most efficient -->
  <!-- ngIf is conditionally rendered, destroyed when not needed -->
  <ng-container *ngIf='askCookieConsent'>
    <p>This site uses cookies, is that ok?</p>
    <button (click)='agreeCookie()'>Agree</button>
  </ng-container>

  <hr/>
  <!-- a form tag becomes an NgForm because of the FormsModule -->
  <form>
    <!-- here is a two-way binding  -->
    <input placeholder='Facebook Image' [(ngModel)]='fbImage' name='fbImage'/>
    <br/>
    <img src='https://graph.facebook.com/{{fbImage}}/picture?type=normal'>
  </form>
  <hr/>

  <hr/>
  <form>
    <input placeholder='Stock Name' [(ngModel)]='userStockName' name='userStockName'/>
    <br/>
  </form>
  <hr/>

  <!-- here is where routed content will appear -->
  <router-outlet></router-outlet>
</article>